ion-content {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.container {
    display: flex;
    justify-content: center;
    //background-color: #FEF4EA;
}
  
.left-content {
    width: 500px;
    padding: 20px;
}
  
.right-content {
    width: 500px;
    padding: 20px;
}

#title{
    font-size: 50px;
    font-weight: bold;
    color: rgb(33, 51, 67);
    font-family: "Times New Roman";
}

#titulo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(33, 51, 67);
    font-family: "Times New Roman";
}

.small-phrase {
    font-size: 14px;
}

.orange-button {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 250px;
    height: 50px;
}

.orange-button-white {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 150px;
    height: 50px;
}

#title2 {
    text-align: center;
    font-family: 'Didot';
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 50px;
}

#title3 {
    font-family: 'Didot', serif;
    font-weight: bold;
    color: #333333;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 50px;
}

#fondo-azul {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

#swiper {
    background-image: url('/assets/imgs/background-gym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: fit-content;
    padding-bottom: 30px;
}

#container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.left-content2, .right-content2 {
    flex: 1 1 300px;
    padding: 20px;
    max-width: 500px;
}

.foto {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.texto {
    text-align: justify;
}

.texto2 {
    text-align: justify;
}

p.texto, p.texto2 {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #555555;
    text-align: justify;
}
  
.items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
  
.social-item {
    flex: 1;
    --ion-item-background: transparent;
}

.icon-color {
    font-size: 32px;
    color: #FF5C35;
}

.fixed-flags {
    position: fixed;
    top: 10px; /* Ajusta este valor según sea necesario */
    right: 10px; /* Ajusta este valor según sea necesario */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    gap: 5px; /* Espaciado entre los botones */
}

.flag-icon {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
  
ion-button.not-selected {
    opacity: 0.5; /* Ajusta la opacidad según lo necesario */
}
  
ion-button.selected {
    opacity: 1; /* El botón seleccionado se verá normal */
}

ion-toolbar {
    --background: #FF5C35;
}
  

@media (max-width: 600px) {
    .left-content, .right-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #container2 {
        flex-direction: column;
    }

    .logo {
        margin-top: 30px;
    }

    .rutina-slide {
        height: 100px;
    }
}
