<ion-content [fullscreen]="true">
  <div class="container">
    <div class="left-content">
      <h1 id="title">ActiveLife</h1>
      <p>Aplicación para crear rutinas, concretar citas con los con los administradores. </p>
      <div>
        <ion-button class="orange-button" (click)="goLogReg()">Login/Registro</ion-button>
        <br>
        <ion-button class="orange-button-white" fill="outline" (click)="downloadAPK()">APK</ion-button>
      </div>
      <p class="small-phrase">Si no tienes cuenta registrate gratis.</p>
    </div>
    <div class="right-content">
      <img src="assets/imgs/logoActiveLife.png">
    </div>
  </div>
  <div id="swiper">
    <h2 id="title2">Rutinas creadas por los administradores</h2>
    <swiper [config]="config">
      <ng-template *ngFor="let rutina of rutinas" swiperSlide>
        <app-card-rutine [rutina]="rutina" class="rutina-slide"></app-card-rutine>
      </ng-template>
    </swiper>
  </div>
  <div id="fondo-azul">
    <h2 id="title3">Conoce a los creadores</h2>
    <p>Descubre la inspiradora historia detrás de nuestra aplicación. Conoce a los mentes creativas y apasionadas que están detrás del desarrollo de ActiveLife. ¡Aprende más sobre nuestros creadores y su visión para el futuro de la salud y el bienestar!</p>
    <div id="container2">
        <div class="left-content2">
          <h1 id="titulo">Pablo García Muñoz</h1>
          <p class="texto">Soy un joven de 19 años, nacido en España. Soy una persona amable y trabajadora, siempre dispuesto a ayudar a los demás. Me encanta pasar tiempo con mis amigos y familiares, y disfrutar de la música y los deportes. Me apasiona aprender cosas nuevas. En mi tiempo libre, me gusta leer y ver películas. Soy una persona muy sociable y me gusta estar rodeado de gente que quiero.</p>
          <div class="items">
            <ion-item class="social-item" lines="none">
              <a href="https://github.com/PabloGM1204" target="_blank"><ion-icon name="logo-github" slot="start" class="icon-color"></ion-icon></a>
            </ion-item>
            <ion-item class="social-item" lines="none">
              <a href="https://instagram.com/mr__sockss/" target="_blank"><ion-icon name="logo-instagram" slot="start" class="icon-color"></ion-icon></a>
            </ion-item>
          </div>
        </div>
        <div class="right-content2">
            <img src="assets/imgs/about/imgPablo.jpg" class="foto" alt="Foto de Pablo García Muñoz">
        </div>
    </div>
    <div id="container2">
      <div class="left-content2">
        <img src="assets/imgs/about/imgAntonio.png" class="foto" alt="Foto de Antonio Luis Garcia">
      </div>
      <div class="right-content2">
        <h1 id="titulo">Antonio Luis Garcia</h1>
        <p class="texto2">Soy un joven de 19 años, nacido en España. Soy una persona amable y trabajadora, siempre dispuesto a ayudar a los demás. Me encanta pasar tiempo con mis amigos y familiares, y disfrutar de la música y los deportes. Me apasiona aprender cosas nuevas. En mi tiempo libre, me gusta leer y ver películas. Soy una persona muy sociable y me gusta estar rodeado de gente que quiero.</p>
        <div class="items">
          <ion-item class="social-item" lines="none">
            <a href="https://github.com/AntonioLuisGarcia" target="_blank"><ion-icon name="logo-github" slot="start" class="icon-color"></ion-icon></a>
          </ion-item>
          <ion-item class="social-item" lines="none">
            <a href="https://instagram.com/antoniogar39/" target="_blank"><ion-icon name="logo-instagram" slot="start" class="icon-color"></ion-icon></a>
          </ion-item>
        </div>
      </div>
    </div>
    <h2 id="title3">Repositorio del TFG</h2>
    <div class="container">
      <p class="texto2">Para acceder al repo con todo la informacion del proyecto.</p>
    </div>
    <div class="container">
      <a href="https://github.com/PabloGM1204/TFG-ActiveLife" target="_blank"><ion-icon name="logo-github" slot="start" class="icon-color"></ion-icon></a>
    </div>
</div>
</ion-content>
