<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">landing</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="goLogReg()">Login/Registro</ion-button>
  <ion-button (click)="downloadAPK()">APK</ion-button>
  <swiper [config]="config">
    <ng-template *ngFor="let rutina of rutinas" swiperSlide>
      <app-card-rutine [rutina]="rutina"></app-card-rutine>
    </ng-template>
  </swiper>
</ion-content>
