<ion-card class="card-con-borde">
  <ion-card-header>
    <div class="centro">
      <ion-card-title>{{ rutina.title | primeraLetraMayus }}</ion-card-title>
    </div>
    <ion-card-subtitle><span class="info-label">Numero de ejercicios:</span> {{ rutina.exercises.length }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-label><span class="info-label">Descripcion:</span> {{ rutina.description }}</ion-label>
    <br>
    <ion-label><span class="info-label">Day:</span> {{ rutina.day }}</ion-label>
    <br>
    <ion-label class="info-label"><span class="info-label">Body Part</span></ion-label>
    <ion-item *ngFor="let exercise of rutina.exercises; let last = last">
      <ion-label>{{ exercise.bodyPart | primeraLetraMayus }}: {{ exercise.name | truncamiento:20 }}</ion-label>
    </ion-item>
  </ion-card-content>
  <div class="botonera">
    <ion-button (click)="editRutine()" fill="outline" slot="start"><ion-icon name="pencil-outline"></ion-icon></ion-button>
    <ion-button (click)="deleteRutine()" fill="outline" slot="end" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
  </div>
</ion-card>