<ion-header>
  <ion-toolbar class="top-bar">
    <ion-title class="center-title">{{ "item-exercise.det" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ exercise?.name | primeraLetraMayus }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="info-group">
        <ion-label class="info-label">{{ "item-exercise.tipo" | translate }}</ion-label>
        <p class="info-value">{{ exercise?.equipment }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">{{ "item-exercise.obj" | translate }}</ion-label>
        <p class="info-value">{{ exercise?.target }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">{{ "item-exercise.sec" | translate }}</ion-label>
        <p class="info-value">{{ exercise?.secondaryMuscles?.join(', ') }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">{{ "item-exercise.int" | translate }}</ion-label>
        <p class="info-value">
          <ul>
            <li *ngFor="let instruction of exercise?.instructions">{{ instruction }}</li>
          </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
