#general {
    --ion-grid-column-padding: 8px;

}
  
#general ion-grid {
    padding: 16px;
    margin-top: 110px;
}
  
#general ion-row {
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: center;
}
  
#general ion-col {
    padding: 10px 0;
}
  
#general ion-row:first-child {
    font-weight: bold;
    color: white;
    background-color: #053464;
}
  
#general ion-button {
    margin-right: 8px;
    --padding-start: 0;
    --padding-end: 0;
    width: 100px;
    height: 50px;
}
  
#general ion-icon {
    font-size: 1.2em;
}

.acciones-container {
    display: flex;
    align-items: center;
}
  
.acciones-container span {
    margin-right: 8px;
}

.admin {
    text-align: center;
}

ion-content{
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.pri {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}
  
.sec {
    --background: linear-gradient(to top, #9561ee, #1db6ef);
}
  
.img {
    --background: linear-gradient(to top, #ffd45f, #ff6f91);
}

.searchbar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 10;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
  
.custom-searchbar {
    width: 300px;
    margin-right: 20px;
    border-radius: 4px;
}
  
.checkboxes-container {
    display: flex;
    align-items: center;
}
  
ion-item {
    margin: 0 10px;
    --background: transparent;
    --padding-start: 0px;
}
  
ion-grid {
    margin-top: 100px;
}

ion-label {
    margin-right: 10px;
}

@media (max-width: 600px) {
    #general ion-grid {
        margin-top: 220px;
        margin-bottom: 80px;
        padding: 0;
        font-size: small;
    }

    #general ion-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        justify-content: space-between;
    }

    #general ion-button {
      width: 50px;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .searchbar-container {
        position: absolute;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .custom-searchbar {
        width: 100%;
        margin: 10px 0;
    }
    
    .checkboxes-container {
        flex-direction: column;
    }
    
    ion-item {
        margin: 5px 0;
    }
}