<ion-card>
  <!-- Imagen -->
  <img [src]="exercise?.gifUrl" alt="Gif de ejercicio">

  <!-- Nombre -->
  <ion-card-content>
    <ion-card-title>{{ exercise?.name }}</ion-card-title>
    <div class="button-container">
      <ion-button *ngIf="!dentro" slot="start" (click)="addExercise(exercise)">Meter</ion-button>
      <ion-button *ngIf="dentro" slot="start" (click)="removeExercise(exercise)" color="danger">Sacar</ion-button>
      <ion-button slot="end" (click)="showDetails(exercise)">Detalle</ion-button>
    </div>
  </ion-card-content>
</ion-card>