.button-container {
    display: flex;
    justify-content: space-between;
}

ion-button {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 150px;
    height: 30px;
}