<ion-card>
  <!-- Imagen -->
  <img [src]="exercise?.gifUrl" alt="Gif de ejercicio">

  <!-- Nombre -->
  <ion-card-content>
    <ion-card-title>{{ exercise?.name | truncamiento:30 | primeraLetraMayus }}</ion-card-title>
    <div class="button-container">
      <ion-button *ngIf="!dentro" slot="start" (click)="addExercise(exercise)"><ion-icon name="add-outline"></ion-icon></ion-button>
      <ion-button *ngIf="dentro" slot="start" (click)="removeExercise(exercise)" color="danger"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button slot="end" (click)="showDetails(exercise)"><ion-icon name="document-text-outline"></ion-icon></ion-button>
    </div>
  </ion-card-content>
</ion-card>