<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crear-rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crear-rutina</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="createRutine()">Crear Rutina</ion-button>
  <form [formGroup]="form">
    <ion-toggle formControlName="public">Público</ion-toggle>
    <ion-input labelPlacement="stacked" label="Nombre de la rutina" formControlName="name" type="text"></ion-input>
    <ion-input labelPlacement="stacked" label="Descripción" formControlName="description" type="text"></ion-input>  
    <ion-select label="Días" placeholder="Elige un día" formControlName="day">
      <ion-select-option value="Lunes">Lunes</ion-select-option>
      <ion-select-option value="Martes">Martes</ion-select-option>
      <ion-select-option value="Miercoles">Miercoles</ion-select-option>
      <ion-select-option value="Jueves">Jueves</ion-select-option>
      <ion-select-option value="Viernes">Viernes</ion-select-option>
      <ion-select-option value="Viernes">Sabado</ion-select-option>
      <ion-select-option value="Viernes">Domingo</ion-select-option>
    </ion-select>
  </form>
  <ion-select label="Body Parts" placeholder="Select one part" (ionChange)="activateSecondSelect($event)">
    <ion-select-option *ngFor="let part of apiSvc.bodyList">{{ part }}</ion-select-option>
  </ion-select>
  <ng-container *ngFor="let exercise of exercises">
    <app-card-exercise class="card" [exercise]="exercise" (addExerciseEvent)="addExerciseToRutine($event, exercise)" (removeExerciseEvent)="removeExerciseToRutine($event, exercise)"></app-card-exercise>
  </ng-container>
  <p-toast position="bottom-center" key="bc"></p-toast>
  <p-toast position="bottom-center" key="er"></p-toast>
</ion-content>
