<ion-content [fullscreen]="true" [ngClass]="{'pri': fondo === 'pri', 'sec': fondo == 'sec', 'img': fondo == 'img'}">
  <ion-card class="info-card">
    <ion-card-header>
      <div class="header-container">
        <ion-avatar class="avatar">
          <img [src]="capturedImage" alt="Imagen del alumno">
        </ion-avatar>
        <br>
        <div class="contenedor">
          <ion-button class="orange-button-white" (click)="takePicture()" fill="outline"><ion-icon name="camera-outline"></ion-icon></ion-button>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content class="card-content">
      <div class="info-row">
        <ion-label class="label">{{ "profile.nombre" | translate }}</ion-label>
        <br *ngIf="!formActive">
        <ion-text class="info" *ngIf="!formActive">{{ user?.username }}</ion-text>
        <form [formGroup]="form" *ngIf="formActive">
          <br>
          <ion-item class="item">
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="activeForm()" *ngIf="!formActive" class="orange-button-white2" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
        <div *ngIf="formActive">
          <ion-button (click)="updateUserName()" class="orange-button-white2" fill="outline"><ion-icon name="save-outline"></ion-icon></ion-button>
          <ion-button (click)="activeForm()" class="orange-button-white2" fill="outline"><ion-icon name="close-outline" color="danger"></ion-icon></ion-button>
        </div>
      </div>
      <div class="info-row">
        <ion-label class="label">E-mail</ion-label>
        <br>
        <ion-text class="info">{{ user?.email }}</ion-text>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="centrar">
    <ion-button (click)="exportData()" class="orange-button2">{{ "profile.des" | translate }}</ion-button>
  </div>
  <ion-buttons class="fixed-flags">
    <ion-button (click)="changeBackground('pri')" [ngClass]="{'selected': fondo === 'pri', 'not-selected': fondo !== 'pri'}" appAgrandar>
      <img src="assets/imgs/fondos/Fondo-principal.png" class="flag-icon">
    </ion-button>
    <ion-button (click)="changeBackground('sec')" [ngClass]="{'selected': fondo === 'sec', 'not-selected': fondo !== 'sec'}" appAgrandar>
      <img src="assets/imgs/fondos/Fondo-secundario.png" class="flag-icon">
    </ion-button>
    <ion-button (click)="changeBackground('img')" [ngClass]="{'selected': fondo === 'img', 'not-selected': fondo !== 'img'}" appAgrandar>
      <img src="assets/imgs/fondos/Fondo-tercero.png" class="flag-icon">
    </ion-button>
  </ion-buttons>
</ion-content>
