ion-content{
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.info-card {
    border: #FF5C35 2px solid;
    margin-top: 75px;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.header-container {
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    border: #FF5C35 2px solid;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-bottom: -10px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-button-white {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.titulo {
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-weight: bold;
}

.info-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.orange-button2 {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 250px;
    height: 50px;
}

.orange-button-white2 {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
}

.item {
    --background: none;
}

ion-input {
    text-align: center;
}

.centrar{
    display: flex;
    justify-content: center;
}

.fixed-flags {
    --background: #FFF2D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-icon {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
  
ion-button.not-selected {
    opacity: 0.5; /* Ajusta la opacidad según lo necesario */
}
  
ion-button.selected {
    opacity: 1; /* El botón seleccionado se verá normal */
}

.pri {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.sec {
    --background: linear-gradient(to top, #9561ee, #1db6ef);
}

.img {
    --background: linear-gradient(to top, #ffd45f, #ff6f91);
}

@media (max-width: 600px) {
    .info-card {
        margin-top: 75px;
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        --background: linear-gradient(to top, #fff2d6, #B7ECEC);
    }
}