<ion-content [fullscreen]="true">
  <ion-card class="info-card">
    <ion-card-header>
      <div class="header-container">
        <ion-avatar class="avatar">
          <img [src]="capturedImage" alt="Imagen del alumno">
        </ion-avatar>
        <br>
        <div class="contenedor">
          <ion-button class="orange-button-white" (click)="takePicture()" fill="outline"><ion-icon name="camera-outline"></ion-icon></ion-button>
        </div>
      </div>
      <ion-card-title class="titulo">{{ user?.username }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      <div class="info-row">
        <ion-label class="label">Nombre</ion-label>
        <br *ngIf="!formActive">
        <ion-text class="info" *ngIf="!formActive">{{ user?.username }}</ion-text>
        <form [formGroup]="form" *ngIf="formActive">
          <br>
          <ion-item class="item">
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="activeForm()" *ngIf="!formActive" class="orange-button-white2" fill="outline"><ion-icon name="pencil-outline"></ion-icon></ion-button>
        <div *ngIf="formActive">
          <ion-button (click)="updateUserName()" class="orange-button-white2" fill="outline"><ion-icon name="save-outline"></ion-icon></ion-button>
          <ion-button (click)="activeForm()" class="orange-button-white2" fill="outline"><ion-icon name="close-outline" color="danger"></ion-icon></ion-button>
        </div>
      </div>
      <div class="info-row">
        <ion-label class="label">Email</ion-label>
        <br>
        <ion-text class="info">{{ user?.email }}</ion-text>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="centrar">
    <ion-button (click)="exportData()" class="orange-button2">Descargar CSV</ion-button>
  </div>
</ion-content>
