<ion-header>
  <ion-toolbar class="top-bar">
    <ion-title class="center-title">{{ exercise?.name | primeraLetraMayus }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">{{ "item-exercise.rep" | translate }} <span style="color: red;">*</span></ion-label>
      <ion-input type="text" formControlName="repeticiones"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "item-exercise.ser" | translate }} <span style="color: red;">*</span></ion-label>
      <ion-input type="text" formControlName="serie"></ion-input>
    </ion-item>
  </form>
  <div class="crear">
    <ion-button (click)="addExercise()"><ion-icon name="add-outline"></ion-icon></ion-button>
  </div>
</ion-content>
