#modal-heading {
    font-family: "Arial", sans-serif; /* Cambia la fuente según tus preferencias */
    color: #333; /* Cambia el color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Añade un poco de espacio en la parte superior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agrega un efecto de sombra al texto */
    /* Puedes agregar más estilos según tus preferencias, como tamaño de fuente, márgenes, etc. */
  }