<ion-content [fullscreen]="true" class="fondo">
  <ion-buttons class="fixed-flags">
    <ion-button (click)="onLang('es')" [ngClass]="{'selected': lang === 'es', 'not-selected': lang !== 'es'}">
      <img src="assets/imgs/flags/bandera.png" class="flag-icon">
    </ion-button>
    <ion-button (click)="onLang('en')" [ngClass]="{'selected': lang === 'en', 'not-selected': lang !== 'en'}">
      <img src="assets/imgs/flags/reino-unido.png" class="flag-icon">
    </ion-button>
    <ion-button (click)="onLang('it')" [ngClass]="{'selected': lang === 'it', 'not-selected': lang !== 'it'}">
      <img src="assets/imgs/flags/italia.png" class="flag-icon">
    </ion-button>
  </ion-buttons>
  <div class="container">
    <div class="left-content">
      <app-login-form *ngIf="activateChange" (doLogin)="onLogin($event)"></app-login-form>
      <app-register-form *ngIf="!activateChange" (doRegister)="onRegister($event)"></app-register-form>
      <ion-button expand="block" *ngIf="activateChange" (click)="changeComponent()" fill="clear" style="text-transform: none;">{{ 'login.botonReg' | translate }}</ion-button>
      <ion-button expand="block" *ngIf="!activateChange" (click)="changeComponent()" fill="clear" style="text-transform: none;">{{ 'login.botonLog' | translate }}</ion-button>
    </div>
    <div class="right-content">
      <swiper [config]="config">
        <ng-template *ngFor="let item of items" swiperSlide>
          <img [src]="item" alt="Swiper Image">
        </ng-template>
      </swiper>
    </div>
  </div>
</ion-content>