<ion-app>
  <!-- Cabecera de la pagina -->
  <ion-menu #menu contentId="main-content" class="custom-menu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="menu.close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-thumbnail slot="start">
          <img alt="logo edutrack" src="assets/imgs/logoActiveLife.png"/>
        </ion-thumbnail>
        <ion-title>ActiveLife</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [ngClass]="{'pri': fondo === 'pri', 'sec': fondo == 'sec', 'img': fondo == 'img'}">
      <ion-list>
        <ion-item (click)="menu.close()" [routerLink]="['/home']" button detail="false" [ngClass]="{'pri-item': fondo === 'pri', 'sec-item': fondo == 'sec', 'img-item': fondo == 'img'}"><ion-icon slot="start" name="home"></ion-icon>{{ "menu.home" | translate }}</ion-item>
        <ion-item (click)="menu.close()" [routerLink]="['/rutinas']" button detail="false" [ngClass]="{'pri-item': fondo === 'pri', 'sec-item': fondo == 'sec', 'img-item': fondo == 'img'}"><ion-icon slot="start" name="barbell-outline"></ion-icon>{{ "menu.rutinas" | translate }}</ion-item>
        <ion-item (click)="menu.close()" [routerLink]="['/citas']" button detail="false" [ngClass]="{'pri-item': fondo === 'pri', 'sec-item': fondo == 'sec', 'img-item': fondo == 'img'}"><ion-icon slot="start" name="calendar-outline"></ion-icon>{{ "menu.citas" | translate }}</ion-item>
        <ion-item (click)="menu.close()" [routerLink]="['/usuarios']" button detail="false" [ngClass]="{'pri-item': fondo === 'pri', 'sec-item': fondo == 'sec', 'img-item': fondo == 'img'}"><ion-icon slot="start" name="people-outline"></ion-icon>{{ "menu.usuarios" | translate }}</ion-item>
        <ion-item (click)="menu.close()" [routerLink]="['/profile']" button detail="false" [ngClass]="{'pri-item': fondo === 'pri', 'sec-item': fondo == 'sec', 'img-item': fondo == 'img'}"><ion-icon slot="start" name="person-circle-outline"></ion-icon>{{ "menu.logout" | translate }}</ion-item>
      </ion-list>
    </ion-content>
    <ion-buttons [ngClass]="{'pri-lang': fondo === 'pri', 'sec-lang': fondo == 'sec', 'img-lang': fondo == 'img'}">
      <ion-button (click)="onLang('es')" [ngClass]="{'selected': lang === 'es', 'not-selected': lang !== 'es'}" appAgrandar>
        <img src="assets/imgs/flags/bandera.png" class="flag-icon">
      </ion-button>
      <ion-button (click)="onLang('en')" [ngClass]="{'selected': lang === 'en', 'not-selected': lang !== 'en'}" appAgrandar>
        <img src="assets/imgs/flags/reino-unido.png" class="flag-icon">
      </ion-button>
      <ion-button (click)="onLang('it')" [ngClass]="{'selected': lang === 'it', 'not-selected': lang !== 'it'}" appAgrandar>
        <img src="assets/imgs/flags/italia.png" class="flag-icon">
      </ion-button>
    </ion-buttons>
    <ion-item (click)="onSingOut()" (click)="menu.close()" button detail="false" color="danger"><ion-icon slot="start" name="log-out-outline"></ion-icon>{{ "menu.logout" | translate}}</ion-item>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <app-header *ngIf="auth.isLogged$ | async" 
    [user]="user"></app-header>
    <ion-router-outlet></ion-router-outlet>
    <!-- Boton de información -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button *ngIf="!isLanding" (click)="toggleTooltip()" class="info-button">
        <ion-icon name="information-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-info-tooltip *ngIf="showTooltip" [infoText]="infoText"></app-info-tooltip>
  </div>
</ion-app>
