ion-fab {
    margin: 16px;
}

.info-button {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
}

ion-toolbar{
    --background: #FF9333;
}

ion-list {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.fixed-flags {
    //--background: #FFF2D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-icon {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
  
ion-button.not-selected {
    opacity: 0.5; /* Ajusta la opacidad según lo necesario */
}
  
ion-button.selected {
    opacity: 1; /* El botón seleccionado se verá normal */
}

.pri {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}
  
.sec {
    --background: linear-gradient(to top, #9561ee, #1db6ef);
}
  
.img {
    --background: linear-gradient(to top, #ffd45f, #ff6f91);
}

.pri-lang {
    background: #fff2d6
}
  
.sec-lang {
    background: #9561ee
}
  
.img-lang {
    background: #ffd45f
}

.pri-item {
    --background: #D5EFE3
}
  
.sec-item {
    --background: #4F92EE
}
  
.img-item {
    --background: #FF9A7C
}