<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (key.enter)="onSubmit()" class="form-container">
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-input labelPlacement="stacked" formControlName="username" type="text" placeholder="E-mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="lock-closed"></ion-icon>
    <ion-input labelPlacement="stacked" formControlName="password" type="password" [placeholder]=" 'login.contra' | translate "></ion-input>
  </ion-item>
  <div class="ion-text-end">
    <ion-button expand="block" style="text-transform: none;" [disabled]="!form.valid" (click)="onSubmit()">{{ 'login.botonLog' | translate }}</ion-button>
  </div>
</form>