ion-card {
    position: relative;
    margin: 20px;
    padding: 20px;
    background: #C4EDE8;
    border: 2px solid #FF5C35; /* Establece el color y el grosor del borde */
    border-radius: 10px; /* Añade un radio al borde para esquinas redondeadas */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Añade sombra para el efecto de desplazamiento */
}

ion-item {
    --background: none;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-label {
    font-weight: bold;
    color: #555;
    flex: 1;
}