<ion-card [ngClass]="{'style-1': isLandingPage, 'style-2': !isLandingPage}">
  <ion-card-header>
    <div class="centro">
      <ion-card-title>{{ rutina.title | primeraLetraMayus }}</ion-card-title>
    </div>
    <ion-card-subtitle><span class="info-label">{{ "card-rutine.num" | translate }}</span> {{ rutina.exercises.length }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-label><span class="info-label">{{ "card-rutine.des" | translate }}</span> {{ rutina.description }}</ion-label>
    <br>
    <ion-label><span class="info-label">{{ "card-rutine.day" | translate }}</span> {{ rutina.day }}</ion-label>
    <br>
    <ion-label class="info-label"><span class="info-label">{{ "card-rutine.part" | translate }}</span></ion-label>
    <ion-item *ngFor="let exercise of rutina.exercises; let last = last">
      <ion-label>{{ exercise.bodyPart | primeraLetraMayus }}: {{ exercise.name | truncamiento:20 }}</ion-label>
    </ion-item>
  </ion-card-content>
  <div class="centro" *ngIf="!isLandingPage"> 
    <ion-button (click)="copyRutine(rutina)" fill="outline"><ion-icon name="copy-outline"></ion-icon></ion-button>
  </div>
</ion-card>