<ion-content [fullscreen]="true">
  <div class="crear-boton">
    <ion-button (click)="goCrearRutina()" fill="outline">Crear Rutina</ion-button>
  </div>
  <div class="button-container">
    <ion-button (click)="privateRutines()" [class.activo]="!publicRutine" [class.desactivado]="publicRutine">Privadas</ion-button>
    <ion-button (click)="publicRutines()" [class.activo]="publicRutine" [class.desactivado]="!publicRutine">Publicas</ion-button>
  </div>
  <!-- Cards de las rutinas privadas -->
  <ng-container *ngIf="!publicRutine">
    <ng-container *ngFor="let rutina of rutinas">
      <app-card-rutine-private [rutina]="rutina" (deleteRutina)="deleteRutine(rutina)"></app-card-rutine-private>
    </ng-container>
  </ng-container>
  <!-- Cards de las rutinas publicas -->
  <ng-container *ngIf="publicRutine">
    <ng-container *ngFor="let rutina of rutinasPublic">
      <app-card-rutine [rutina]="rutina"></app-card-rutine>
    </ng-container>
  </ng-container>
</ion-content>
