ion-content{
    --padding-top: 75px;
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.crear-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.crear-boton ion-button {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activo {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.desactivado {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.rutinas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las cartas se envuelvan en la siguiente fila si no caben en una fila */
    gap: 10px; /* Espacio entre las cartas, ajusta según tus necesidades */
}
  
.rutinas-container app-card-rutine-private, app-card-rutine {
    flex: 0 0 470px; /* Ancho específico de cada carta, ajusta según tus necesidades */
    margin: 5px; /* Espacio alrededor de cada carta */  
}
.pri {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}
  
.sec {
    --background: linear-gradient(to top, #9561ee, #1db6ef);
}
  
.img {
    --background: linear-gradient(to top, #ffd45f, #ff6f91);
}