<ion-content [fullscreen]="true" id="general">
  <div class="centro">
    <h1 *ngIf="citas && citas.length > 0; else noCitas" class="titulo">Citas futuras</h1>
    <ng-template #noCitas>
      <h1 class="titulo">No tienes citas futuras</h1>
    </ng-template>
  </div>
  <ion-grid *ngIf="citas && citas.length > 0">
    <ion-row>
      <ion-col size="2">Usuario</ion-col>
      <ion-col size="3">Titulo</ion-col>
      <ion-col size="3">Fecha</ion-col>
      <ion-col size="3">Descripcion</ion-col>
    </ion-row>
    <ion-row *ngFor="let cita of citas" [class.pasada]="getCitaDate(cita.fechaCita).pasada" [class.aceptada]="cita.estado == 'aceptado'" [class.denegado]="cita.estado == 'denegado'">
      <ion-col size="2">
        <img [src]="cita.clienteFoto" alt="Foto del encargado" style="width: 50px; height: 50px; border-radius: 50%;" />
      </ion-col>
      <ion-col size="3">{{ cita.titulo | primeraLetraMayus }}</ion-col>
      <ion-col size="3">{{ getCitaDate(cita.fechaCita).fechaFormateada }}</ion-col>
      <ion-col size="3">{{ cita.descripcion | truncamiento:40 | primeraLetraMayus }}</ion-col>
    </ion-row>
  </ion-grid>
  <div class="centro">
    <h1 *ngIf="rutinas && rutinas.length > 0; else noRutinas" class="titulo">Rutina de hoy</h1>
    <ng-template #noRutinas>
      <h1 class="titulo">No tienes rutinas</h1>
    </ng-template>
  </div>
  <div class="centro">
    <ion-button class="desactivado" fill="outline" (click)="goRutinas()"><ion-icon slot="start" name="barbell-outline" style="font-size: 32px;"></ion-icon>Rutinas</ion-button>
  </div>
  <ng-container *ngIf="rutinas.length != 0">
    <ng-container *ngFor="let exercise of exercises">
      <app-item-exercise [exercise]="exercise"></app-item-exercise>
    </ng-container>
  </ng-container>
</ion-content>
