<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="goUsuarios()">Usuarios</ion-button>
  <ion-button (click)="goCitas()">Citas</ion-button>
  <ion-button (click)="goProblemas()">Registrar problemas</ion-button>
  <ion-button (click)="goRutinas()">Crear rutina</ion-button>
  <ion-item (click)="onSingOut()" button detail="false" color="danger"><ion-icon slot="start" name="log-out-outline"></ion-icon>Salirse</ion-item>

</ion-content>
