.topbar {
    --background: #FF6945;
    --color: white;
}

.cliente-foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .cliente-foto {
    width: 100px; /* Aumenta el tamaño de la imagen */
    height: 100px; /* Aumenta el tamaño de la imagen */
    border-radius: 50%;
    border: 2px solid #FF6945; /* Añade un borde para mejorar la apariencia */
  }

ion-content {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);

}

.custom-card {
    --background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}
  
.card-header {
    text-align: center;
}
  
.card-title {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}
  
.info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.info-label {
    font-weight: bold;
    color: #555;
    flex: 1;
}
  
.info-value {
    font-size: 1em;
    color: #777;
    flex: 2;
    margin-left: 10px;
}
  
.button-group {
    display: flex;
    justify-content: center;
}
  
.action-button {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.action-button2 {
    margin-top: 10px;
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 250px;
    height: 50px;
}
  
.textarea-container {
    margin-top: 5px;
    text-align: center;
}
  
.large-input {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    resize: none;
}

.existing-response {
    margin-top: 20px;
    text-align: center;
}
  
.response-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}
  
.response-value {
    font-size: 1em;
    color: #777;
    margin-top: 10px;
}

.descarga {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FF5C35;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.custom-file-upload:hover {
    background-color: #3171e0;
}

.descarga ion-icon {
    color: #FF5C35;
    font-size: 2em;
}