<ion-header>
  <ion-toolbar class="topbar">
    <ion-title>Detalles de la Cita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ cita?.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="info-group">
        <ion-label class="info-label">Descripción:</ion-label>
        <p class="info-value">{{ cita?.descripcion }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Estado:</ion-label>
        <p class="info-value">{{ cita?.estado }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Fecha de la Cita:</ion-label>
        <p class="info-value">{{ getCitaDate(cita?.fechaCita) }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Fecha de Solicitud:</ion-label>
        <p class="info-value">{{ getCitaDate(cita?.fechaSolicitud) }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Encargado UUID:</ion-label>
        <p class="info-value">{{ cita?.encargadoUuid }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Usuario UUID:</ion-label>
        <p class="info-value">{{ cita?.userUUID }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="button-group">
    <ion-button [disabled]="cita?.respuesta !== ''" (click)="activateAnswer()" class="action-button">Respuesta</ion-button>
  </div>

  <div *ngIf="cita?.respuesta !== ''" class="existing-response">
    <ion-label class="response-title">Respuesta</ion-label>
    <p class="response-value">{{ cita?.respuesta }}</p>
  </div>

  <div class="textarea-container" *ngIf="activo && cita?.respuesta === ''">
    <textarea class="large-input" rows="5" [(ngModel)]="respuesta" placeholder="Escribe tu respuesta aquí..."></textarea>
    <ion-button (click)="sendAnswer()" class="action-button">Enviar</ion-button>
  </div>
</ion-content>
