<ion-header>
  <ion-toolbar class="topbar">
    <ion-title>Detalles de la Cita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <div class="cliente-foto-container">
      <img [src]="cita?.clienteFoto" alt="Foto del cliente" class="cliente-foto" />
    </div>
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ cita?.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="info-group">
        <ion-label class="info-label">Descripción:</ion-label>
        <p class="info-value">{{ cita?.descripcion }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Estado:</ion-label>
        <p class="info-value">{{ cita?.estado }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Fecha de la Cita:</ion-label>
        <p class="info-value">{{ getCitaDate(cita?.fechaCita) }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Fecha de Solicitud:</ion-label>
        <p class="info-value">{{ getCitaDate(cita?.fechaSolicitud) }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Encargado:</ion-label>
        <p class="info-value">{{ cita?.encargadoNombre }}</p>
      </div>

      <div class="info-group">
        <ion-label class="info-label">Usuario:</ion-label>
        <p class="info-value">{{ cita?.clienteNombre }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="button-group" *ngIf="cita?.encargadoNombre !== 'Ninguno'">
    <ion-button [disabled]="cita?.respuesta !== ''" (click)="activateAnswer()" class="action-button" fill="outline">Respuesta</ion-button>
  </div>

  <div *ngIf="cita?.respuesta !== ''" class="existing-response">
    <ion-label class="response-title">Respuesta</ion-label>
    <p class="response-value">{{ cita?.respuesta }}</p>
    <a *ngIf="cita?.fileUrl != ''" [href]="cita?.fileUrl" download="Respuesta Cita" target="_blank" class="descarga"><ion-icon name="download-outline"></ion-icon></a>
  </div>

  <div class="textarea-container" *ngIf="activo && cita?.respuesta === ''">
    <textarea class="large-input" rows="5" [(ngModel)]="respuesta" placeholder="Escribe tu respuesta aquí..."></textarea>
    <input type="file" id="file" (change)="uploadFile($event)" accept=".pdf" style="display: none;"/>
    <label for="file" class="custom-file-upload"><ion-icon name="cloud-upload-outline"></ion-icon> Subir archivo PDF</label>
    <br>
    <ion-button [disabled]="respuesta == ''" (click)="sendAnswer()" class="action-button" fill="outline">Enviar</ion-button>
  </div>
</ion-content>
