.large-input {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    resize: vertical; /* Permite redimensionar verticalmente */
}