<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (key.enter)="onSubmit()">
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-input labelPlacement="stacked" [placeholder]=" 'login.nombreUsuario' | translate " formControlName="nickname" type="text"></ion-input>
    <ion-icon *ngIf="hasTouched('nickname') && hasError('nickname')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('nickname') && !hasError('nickname')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-input labelPlacement="stacked" placeholder="E - mail" formControlName="email" type="text"></ion-input>
    <ion-icon *ngIf="hasTouched('email') && hasError('email')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('email') && !hasError('email')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name="lock-closed"></ion-icon>
    <ion-input labelPlacement="stacked" [placeholder]=" 'login.contra' | translate " formControlName="password" type="password"></ion-input>
    <ion-icon *ngIf="hasTouched('password') && hasError('password')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('password') && !hasError('password')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <p class="error-message" *ngIf="hasTouched('password') && hasError('password')">{{ "login.contraExp" | translate }}</p>  
  <ion-item>
    <ion-icon name="lock-closed"></ion-icon>
    <ion-input labelPlacement="stacked" [placeholder]=" 'login.contra2' | translate " formControlName="confirm" type="password"></ion-input>
    <ion-icon *ngIf="hasTouched('confirm') && hasError('confirm')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('confirm') && !hasError('confirm')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <p class="error-message" *ngIf="hasTouched('confirm') && hasError('confirm')">{{ "login.contraExp2" | translate }}</p>  
  <div class="admin-toggle">
    <span>{{ "login.admin" | translate }}</span>
    <ion-toggle labelPlacement="stacked" formControlName="admin"></ion-toggle>
  </div>
  <div class="ion-text-end">
    <ion-button expand="block" style="text-transform: none;" (click)="onSubmit()" [disabled]="!form.valid">{{ "login.botonReg" | translate }}</ion-button>
  </div>
</form>