#general {
    --ion-grid-column-padding: 8px;
}
  
#general ion-grid {
    padding: 16px;
}
  
#general ion-row {
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: center;
}
  
#general ion-col {
    padding: 10px 0;
}
  
#general ion-row:first-child {
    font-weight: bold;
    background-color: #053464;
    color: white;
}
  
#general ion-button {
    margin-right: 8px;
    --padding-start: 0;
    --padding-end: 0;
}
  
#general ion-icon {
    font-size: 1.2em;
}

ion-content{
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}

.botonera {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.activo {
    --color: #ffffff;
    --background: #FF5C35;
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.desactivado {
    --color: #FF5C35;
    --background: #ffffff;
    --border-color: #FF5C35;
    --border-width: 2px; 
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.pasada {
    background-color: #808080 !important;
}

.aceptada {
    background-color: #00cc00;
}

.denegado {
    background-color: #ff0000;
}

.leyenda {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.leyenda-item {
    display: flex;
    align-items: center;
    border-bottom: none;
    padding: 10px;
}
  
.cuadrado {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
  
.cuadrado.rojo {
    background-color: #FF0000;
    border: 1px solid #000;
}
  
.cuadrado.verde {
    background-color: #00CC00;
    border: 1px solid #000;
}
  
.cuadrado.gris {
    background-color: #808080;
    border: 1px solid #000;
}
  
.cuadrado.sin-color {
    background-color: transparent;
    border: 1px solid #000;
}

.pri {
    --background: linear-gradient(to top, #fff2d6, #B7ECEC);
}
  
.sec {
    --background: linear-gradient(to top, #9561ee, #1db6ef);
}
  
.img {
    --background: linear-gradient(to top, #ffd45f, #ff6f91);
}

@media (max-width: 600px) {
    .leyenda {
        flex-direction: column;
        align-items: center;
    }

    .leyenda-item {
        justify-content: center;
    }
}