<ion-content [fullscreen]="true" id="general" [ngClass]="{'pri': fondo === 'pri', 'sec': fondo == 'sec', 'img': fondo == 'img'}">
  <div class="botonera">
    <ion-button (click)="misCitas()" [class.activo]="!publicCitas" [class.desactivado]="publicCitas">{{ "citas.misCitas" | translate }}</ion-button>
    <ion-button (click)="noAdmins()" [class.activo]="publicCitas" [class.desactivado]="!publicCitas">{{ "citas.noAdmin" | translate }}</ion-button>
  </div>
  <!-- Leyenda de Colores -->
  <div class="leyenda">
    <div class="leyenda-item">
      <span class="cuadrado rojo"></span>
      <ion-label>{{ "citas.den" | translate }}</ion-label>
    </div>
    <div class="leyenda-item">
      <span class="cuadrado verde"></span>
      <ion-label>{{ "citas.ace" | translate }}</ion-label>
    </div>
    <div class="leyenda-item">
      <span class="cuadrado gris"></span>
      <ion-label>{{ "citas.pas" | translate }}</ion-label>
    </div>
    <div class="leyenda-item">
      <span class="cuadrado sin-color"></span>
      <ion-label>{{ "citas.sin" | translate }}</ion-label>
    </div>
  </div>
  <ion-grid *ngIf="!publicCitas">
    <ion-row>
      <ion-col size="2">{{ "citas.user" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.titulo" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.fecha" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.desc" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.acciones" | translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let cita of citas" [class.pasada]="getCitaDate(cita.fechaCita).pasada" [class.aceptada]="cita.estado == 'aceptado'" [class.denegado]="cita.estado == 'denegado'">
      <ion-col size="2">
        <img [src]="cita.clienteFoto" alt="Foto del encargado" style="width: 50px; height: 50px; border-radius: 50%;" />
      </ion-col>
      <ion-col size="2">{{ cita.titulo | primeraLetraMayus }}</ion-col>
      <ion-col size="2">{{ getCitaDate(cita.fechaCita).fechaFormateada }}</ion-col>
      <ion-col size="2">{{ cita.descripcion | truncamiento:20 | primeraLetraMayus }}</ion-col>
      <ion-col size="2">
        <ion-button *ngIf="!getCitaDate(cita.fechaCita).pasada" fill="clear" color="secondary" (click)="accept(cita)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!getCitaDate(cita.fechaCita).pasada" fill="clear" color="secondary" (click)="denied(cita)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="getCitaDate(cita.fechaCita).pasada" fill="clear" color="danger" (click)="deleteCita(cita)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="secondary" (click)="openModal(cita)">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="publicCitas">
    <ion-row>
      <ion-col size="2">{{ "citas.user" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.titulo" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.fecha" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.desc" | translate }}</ion-col>
      <ion-col size="2">{{ "citas.acciones" | translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let cita of citasPublic" [class.pasada]="getCitaDate(cita.fechaCita).pasada">
      <ion-col size="2">
        <img [src]="cita.clienteFoto" alt="Foto del encargado" style="width: 50px; height: 50px; border-radius: 50%;" />
      </ion-col>
      <ion-col size="2">{{ cita.titulo | primeraLetraMayus }}</ion-col>
      <ion-col size="2">{{ getCitaDate(cita.fechaCita).fechaFormateada }}</ion-col>
      <ion-col size="2">{{ cita.descripcion | truncamiento:20 | primeraLetraMayus }}</ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="secondary" (click)="getCita(cita)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="secondary" (click)="openModal(cita)">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
